@mixin styleText($color, $fs, $fw, $lh) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin borderText(){
  color: $color-white-1;
  background-color: $color-green-1;
  border-radius: $border-radius-1;
  border: 1px solid $color-green-1;
  padding:  $pd-1 $pd-3;

}