@mixin styleText($color, $fs, $fw, $lh) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin borderText($color,$bg-color,$pd-y, $pd-x) {
  color: $color;
  background-color: $bg-color;
  border-radius: $border-radius-1;
  border: 1px solid $color-green-1;
  padding: $pd-y $pd-x;
}
