// ---------- COLOR ----------------
$color-green-1: #0f9d58;
$color-green-light: #0fa267;

$color-white: #fff;
$color-white-1: #fff9ef;
$color-white-3: #f0f3f7;

$color-gray-1: #7a7a7b;
$color-gray-2: #9da2ad;

$color-black-1: #000021;
$color-black-2: #000000;

$color-white-overlay: rgba(100, 100, 111, 0.2);
$color-white-overlay-1: rgba(14, 30, 37, 0.12);
$color-white-overlay-2: rgba(14, 30, 37, 0.32);
$color-white-overlay-3: rgba(100, 100, 100, 0.2);

// ---------- FONT ----------------
$font-size-html: 16px;
$fs-1: 0.5rem;
$fs-2: 1rem;
$fs-3: 1.5rem;
$fs-4: 2rem;
$fs-5: 2.5rem;
$fs-6: 3rem;
$fs-7: 7rem;
$fs-8: 6.5rem;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
// ---------- PADDING ----------------
$pd-1: 0.5rem;
$pd-2: 1rem;
$pd-3: 1.5rem;
$pd-4: 2rem;
$pd-5: 2.5rem;
$pd-6: 3rem;
$pd-7: 4rem;
$pd-8: 9rem;
$pd-9: 11rem;
$pd-10: 13rem;
$pd-11: 5rem;

// ---------- MARGIN ----------------
$mr-1: 0.5rem;
$mr-2: 1rem;
$mr-3: 1.5rem;
$mr-4: 2rem;
$mr-5: 2.5rem;
$mr-6: 3rem;
$mr-7: 5rem;
$mr-8: 11rem;
$mr-9: 10.5rem;

// ---------- BORDER ----------------
$border-1: 1px;
$border-2: 1.5px;
$border-3: 2px;
$border-4: 2.5px;

$border-radius: 1.1rem;
$border-radius-1: 1.5rem;
$border-radius-2: 2rem;
$border-radius-3: 2.5rem;

// ---------- LINE-HEIGHT ----------------
$line-height-normal: normal;
$lh-1: 1.4;
$lh-2: 1.6;
$lh-3: 3;

// ---------- BREAK POINTS ----------------
$breakpoints: (
  
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
  "screen-1": 920px,
  "screen-2": 600px,
);
