.about {
  background-color: $color-white-3;
  padding: $pd-8 0;
  .container {
    .about__image {
      .about__img {
        height: 400px;
        width: 700px;
        box-shadow: 0px 2px 10px 6px $color-white-overlay;
      }
    }
    .about__wrap {
      display: flex;
      text-align: center;
      align-items: center;
      .about__content {
        transform: translateX(-4rem);
        //text-align: center;
        // height: 15rem;
        box-shadow: $color-white-overlay-3 0px 2px 8px 2px;
        padding: 3.5rem;
        @include borderText(
          $color-black-1,
          $color-white,
          $border-radius-2,
          $border-2,
          $color-white-1,
          none,
          none
        );

        .about__content--title {
          padding-bottom: $pd-3;
          color: $color-gray-1;
          @include styleText($color-gray-1, $fs-4, $font-weight-bold, $lh-2);
          .about__tittle--color {
            color: $color-green-1;
          }
        }
        .about__content--text {
          font-weight: $font-weight-300;
        }
      }
    }
  }
  @include responsive("extra-large") {
    .container {
      .about__content {
        transform: translate(-6rem, -4rem) !important;
      }
    }
  }

  @include responsive("large") {
    .container {
      .about__image {
        .about__img {
          width: 800px;
        }
      }
    }
  }
  @include responsive("medium") {
    background-image: url(../assets/dan-gold-4_jhDO54BYg-unsplash.jpg);
    background-attachment: fixed;

    .container {
      .about__image {
        display: none;
      }
      .about__content {
        transform: translate(0) !important;
      }
    }
  }
}
