.about {
    background-color: $color-white-3;
    padding: $pd-8 0;
    .container{
        .about__image{
           .about__img{
            transform: translateX(80px);
            height: 400px;
            width: 700px;
            box-shadow:0px 2px 10px 6px $color-white-overlay;
            } 
        }
        .about__content{     
         transform: translate(-20px,110px);
         text-align: center;
         height: 15rem;
         box-shadow: $color-white-overlay-3 0px 2px 8px 2px;
         padding: $pd-5 $pd-7;
          @include borderText($color-black-1,$color-white,$border-radius-2,$border-2,$color-white-1,none,none);

        .about__content--title{
            padding-bottom: $pd-3;
            color: $color-gray-1;
            @include styleText($color-gray-1,$fs-4,$font-weight-bold,$lh-2);
            .about__tittle--color{
                color: $color-green-1;
            }
            }
        .about__content--text{
            font-weight: $font-weight-300;
        }
        }
    }
}