.footer {
  color: $color-white;
  padding: $pd-8 0;
  h1 {
    @include styleText($color-green-1, $fs-3, $font-weight-600, none);
  }
  .footer__detail {
    transform: translateY(-10%);
    .footer__input {
      margin-top: 2rem;
      padding: 1rem;
      border-radius: 2rem;
      border: $border-4 solid $color-green-1;
      display: flex;
      justify-content: space-between;
      input {
        outline: none;
        border: none;
        color: $color-green-1;
        background-color: transparent;
      }
      button {
        @include borderText(
          $color-white,
          $color-green-1,
          $border-radius,
          $border-1,
          $color-green-1,
          $pd-1,
          $pd-2
        );
      }
    }
  }
}
