.container {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-fix {
  background-attachment: fixed;
}
/* GRID SYSTEM */

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  padding: 1rem;
}
