* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: $font-size-html;
  scroll-behavior: smooth;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
